@import "tailwindcss";

@layer base {
  :root {

    --fs-ratio: .85;
    --fs-1: 2.0rem;
    --fs-2: calc(var(--fs-1) * var(--fs-ratio));
    --fs-3: calc(var(--fs-2) * var(--fs-ratio));
    --fs-4: calc(var(--fs-3) * var(--fs-ratio));
    --fs-5: calc(var(--fs-4) * var(--fs-ratio));
    --fs-6: calc(var(--fs-5) * var(--fs-ratio));
    --fs-7: calc(var(--fs-6) * var(--fs-ratio));
    --fs-8: calc(var(--fs-7) * var(--fs-ratio));
    --fs-9: calc(var(--fs-8) * var(--fs-ratio));
    --fs-10: calc(var(--fs-9) * var(--fs-ratio));
    --fs-11: calc(var(--fs-10) * var(--fs-ratio));
    --fs-12: calc(var(--fs-11) * var(--fs-ratio));

    /* surfaces */
    --primary-bg: rgb(143, 151, 240);
    --primary-fc-primary: white;
    --primary-fc-secondary: rgb(49, 49, 49);
    --primary-fc-tertiary: rgb(85, 85, 85);
    --primary-border-color: var(--primary-fc-primary);
    --primary-error-fc: rgb(255, 0, 0);

    --secondary-bg: rgb(255, 255, 255);
    --secondary-fc-primary: black;
    --secondary-fc-secondary: rgb(49, 49, 49);
    --secondary-fc-tertiary: rgb(85, 85, 85);
    --secondary-border-color: rgb(184, 183, 183);
    --secondary-error-fc: rgb(255, 0, 0);

    --tertiary-bg: rgb(240, 240, 240);
    --tertiary-fc-primary: black;
    --tertiary-fc-secondary: rgb(49, 49, 49);
    --tertiary-fc-tertiary: rgb(85, 85, 85);
    --tertiary-border-color: var(--tertiary-fc-primary);
    --tertiary-error-fc: rgb(255, 0, 0);

    --quaternary-bg: rgb(218, 220, 242);
    --tertiary-fc-primary: black;
    --tertiary-fc-secondary: rgb(49, 49, 49);
    --tertiary-fc-tertiary: rgb(85, 85, 85);
    --tertiary-border-color: var(--tertiary-fc-primary);
    --tertiary-error-fc: rgb(255, 0, 0);

    --message-bg: rgb(191, 188, 255);
    --message-fc-primary: black;
    --message-fc-secondary: black;
    --message-fc-tertiary: black;
    --message-border-color: var(--message-fc-primary);
    --message-error-fc: rgb(255, 0, 0);

    /* font size groups*/
    --primary-label-fs: var(--fs-4);
    --primary-fs-primary: var(--fs-5);
    --primary-fs-secondary: var(--fs-6);
    --primary-fs-tertiary: var(--fs-7);

    --secondary-label-fs: var(--fs-5);
    --secondary-fs-primary: var(--fs-6);
    --secondary-fs-secondary: var(--fs-7);
    --secondary-fs-tertiary: var(--fs-8);

    --tertiary-label-fs: var(--fs-6);
    --tertiary-fs-primary: var(--fs-7);
    --tertiary-fs-secondary: var(--fs-8);
    --tertiary-fs-tertiary: var(--fs-9);
    /*
        SEMANTIC ELEMENTS BEGIN
      */
    /*universal colors work on all surface*/
    --universal-primary-bg: rgb(46, 77, 255);
    --universal-primary-fc: white;

    --primary-fc: none;
    --secondary-fc: none;
    --tertiary-fc: none;
    --error-fc: none;
    --border-color: none;
    --link-fc: var(--universal-primary-bg);
    --active-color: var(--universal-primary-bg);
    --inactive-color: red; 

    --button-default-bg: lightgray;
    --button-default-fc: black;

    --button-save-bg: var(--universal-primary-bg);
    --button-save-fc: var(--universal-primary-fc);

    --button-destructive-bg: rgb(255, 75, 75);
    --button-destructive-fc: black;

    --button-preview-bg: lightgray;
    --button-preview-fc: black;

    --button-cancel-bg: lightgray;
    --button-cancel-fc: black;

    --button-navigate-bg: var(--universal-primary-bg);
    --button-navigate-fc: var(--universal-primary-fc);

    --button-create-bg: var(--universal-primary-bg);
    --button-create-fc: var(--universal-primary-fc);

    --message-own-bg: none;

    --label-fs: inherit;
    --primary-fs: inherit;
    --secondary-fs: inherit;
    --tertiary-fs: inherit;

    /*
        SEMANTIC ELEMENTS END
      */
  }

  * {
    box-sizing: border-box;
  }

  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family: var(--font-roboto-regular);
  }

  h1 {
    font-size: var(--fs-1);
    font-family: var(--font-cal-sans);
  }

  h2 {
    font-size: var(--fs-2);
    font-family: var(--font-cal-sans);
  }

  h3 {
    font-size: var(--fs-3);
    font-family: var(--font-cal-sans);
  }

  h4 {
    font-size: var(--fs-4);
    font-family: var(--font-cal-sans);
  }

  h5 {
    font-size: var(--fs-5);
    font-family: var(--font-cal-sans);
  }

  h6 {
    font-size: var(--fs-6);
    font-family: var(--font-cal-sans);
  }

  .surface-primary {
    background-color: var(--primary-bg);
    color: var(--primary-fc-primary);
    --primary-fc: var(--primary-fc-primary);
    --secondary-fc: var(--primary-fc-secondary);
    --tertiary-fc: var(--primary-fc-tertiary);
    --error-fc: var(--primary-error-fc);
    --border-color: var(--primary-border-color);
  }

  .surface-secondary {
    background-color: var(--secondary-bg);
    color: var(--secondary-fc-primary);
    --primary-fc: var(--secondary-fc-primary);
    --secondary-fc: var(--secondary-fc-secondary);
    --tertiary-fc: var(--secondary-fc-tertiary);
    --error-fc: var(--secondary-error-fc);
    --border-color: var(--secondary-border-color);
  }

  .surface-tertiary {
    background-color: var(--tertiary-bg);
    color: var(--tertiary-fc-primary);
    --primary-fc: var(--tertiary-fc-primary);
    --secondary-fc: var(--tertiary-fc-secondary);
    --tertiary-fc: var(--tertiary-fc-tertiary);
    --error-fc: var(--tertiary-error-fc);
    --border-color: var(--tertiary-border-color);
  }

  .surface-quaternary {
    background-color: var(--quaternary-bg);
    color: var(--quaternary-fc-primary);
    --primary-fc: var(--quaternary-fc-primary);
    --secondary-fc: var(--quaternary-fc-secondary);
    --tertiary-fc: var(--quaternary-fc-quaternary);
    --error-fc: var(--quaternary-error-fc);
    --border-color: var(--quaternary-border-color);

  }

  .surface-message {
    background-color: var(--message-bg);
    color: var(--message-fc-primary);
    --primary-fc: var(--message-fc-primary);
    --secondary-fc: var(--message-fc-secondary);
    --tertiary-fc: var(--message-fc-tertiary);
    --error-fc: var(--message-error-fc);
    --border-color: var(--message-border-color);
  }

  .surface-inherit {
    background-color: inherit;
    color: inherit;
    font-size: inherit;
  }

  .fs-group-primary {
    --label-fs: var(--primary-label-fs);
    --primary-fs: var(--primary-fs-primary);
    --secondary-fs: var(--primary-fs-secondary);
    --tertiary-fs: var(--primary-fs-tertiary);
  }

  .fs-group-secondary {
    --label-fs: var(--secondary-label-fs);
    --primary-fs: var(--secondary-fs-primary);
    --secondary-fs: var(--secondary-fs-secondary);
    --tertiary-fs: var(--secondary-fs-tertiary);
  }

  .fs-group-tertiary {
    --label-fs: var(--tertiary-label-fs);
    --primary-fs: var(--tertiary-fs-primary);
    --secondary-fs: var(--tertiary-fs-secondary);
    --tertiary-fs: var(--tertiary-fs-tertiary);
  }

  a,
  Link {
    color: var(--link-fc);
    text-decoration: underline;
  }

  /*forms*/
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--primary-fs);
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .label {
    color: var(--primary-fc);
    font-size: var(--label-fs);
    margin-inline: auto;
    font-weight: 500;
  }

  .input {
    width: 100%;
    border: solid 2px var(--border-color);
    color: var(--primary-fc);
    font-size: var(--primary-fs);
    text-align: center;
    border-radius: 10px;
    padding: .3rem;
  }

  input::placeholder,
  .input::placeholder {
    color: var(--tertiary-fc);
    font-size: var(--primary-fs);
  }

  input:focus,
  .input:focus {
    outline: none;
  }

  .input-checked {
    outline: none;
    box-shadow: 0px 0px 10px 3px var(--border-color);
  }

  .input-invalid {
    box-shadow: inset 0 0 0 3px var(--error-fc);
  }

  /*forms*/

  /*buttons*/
  .button {
    width: 100%;
    font-size: var(--primary-fs);
    border-radius: 20px;
    padding: 0.5rem;
  }

  .button-default {
    background-color: var(--button-default-bg);
    color: var(--button-default-fc);
  }

  .button-save {
    background-color: var(--button-save-bg);
    color: var(--button-save-fc);
  }

  .button-preview {
    background-color: var(--button-preview-bg);
    color: var(--button-preview-fc);
  }

  .button-destructive {
    background-color: var(--button-destructive-bg);
    color: var(--button-destructive-fc);
  }

  .button-cancel {
    background-color: var(--button-cancel-bg);
    color: var(--button-cancel-fc);
  }

  .button-navigate {
    background-color: var(--button-navigate-bg);
    color: var(--button-navigate-fc);
  }

  .button-create {
    background-color: var(--button-create-bg);
    color: var(--button-create-fc);
  }

  .button:hover {
    cursor: pointer;
  }
}