@import "tailwindcss";

@layer base {
  :root {

    --fs-ratio: .80;
    --fs-1: 2.0rem;
    --fs-2: calc(var(--fs-1) * var(--fs-ratio));
    --fs-3: calc(var(--fs-2) * var(--fs-ratio));
    --fs-4: calc(var(--fs-3) * var(--fs-ratio));
    --fs-5: calc(var(--fs-4) * var(--fs-ratio));
    --fs-6: calc(var(--fs-5) * var(--fs-ratio));
    --fs-7: calc(var(--fs-6) * var(--fs-ratio));
    --fs-8: calc(var(--fs-7) * var(--fs-ratio));
    --fs-9: calc(var(--fs-8) * var(--fs-ratio));
    --fs-10: calc(var(--fs-9) * var(--fs-ratio));
    --fs-11: calc(var(--fs-10) * var(--fs-ratio));
    --fs-12: calc(var(--fs-11) * var(--fs-ratio));

    /* surfaces */
    --primary-bg: rgb(0, 0, 0);
    --primary-fc-primary: white;
    --primary-fc-secondary: rgb(187, 187, 187);
    --primary-fc-tertiary: rgb(136, 136, 136);
    --primary-border-color: var(--primary-fc-primary);
    --primary-error-fc: rgb(255, 0, 0);

    --secondary-bg: white;
    --secondary-fc-primary: black;
    --secondary-fc-secondary: rgb(44, 44, 44);
    --secondary-fc-tertiary: rgb(78, 78, 78);
    --secondary-border-color: var(--secondary-fc-primary);
    --secondary-error-fc: rgb(255, 0, 0);

    --tertiary-bg: rgb(226, 226, 226);
    --tertiary-fc-primary: black;
    --tertiary-fc-secondary: rgb(70, 70, 70);
    --tertiary-fc-tertiary: rgb(92, 92, 92);
    --tertiary-border-color: var(--tertiary-fc-primary);
    --tertiary-error-fc: rgb(255, 0, 0);

    --message-bg: rgb(243, 63, 63);
    --message-fc-primary: black;
    --message-fc-secondary: black;
    --message-fc-tertiary: black;
    --message-border-color: var(--message-fc-primary);
    --message-error-fc: orange;

    /* font size groups*/
    --primary-label-fs: var(--fs-4);
    --primary-fs-primary: var(--fs-5);
    --primary-fs-secondary: var(--fs-6);
    --primary-fs-tertiary: var(--fs-7);

    --secondary-label-fs: var(--fs-5);
    --secondary-fs-primary: var(--fs-6);
    --secondary-fs-secondary: var(--fs-7);
    --secondary-fs-tertiary: var(--fs-8);

    --tertiary-label-fs: var(--fs-6);
    --tertiary-fs-primary: var(--fs-7);
    --tertiary-fs-secondary: var(--fs-8);
    --tertiary-fs-tertiary: var(--fs-9);
    /*
      SEMANTIC ELEMENTS BEGIN
    */

    /*universal colors work on all surface*/
    --universal-primary-bg: red;
    --universal-primary-fc: white;

    --universal-secondary-bg: rgb(255, 217, 0);
    --universal-secondary-fc: black;

    --universal-tertiary-bg: lightgray;
    --universal-tertiary-fc: black;

    --primary-fc: none;
    --secondary-fc: none;
    --tertiary-fc: none;
    --error-fc: none;
    --border-color: none;
    --link-fc: var(--universal-primary-bg);

    --button-primary-bg: var(--universal-primary-bg);
    --button-primary-fc: var(--universal-primary-fc);

    --button-secondary-bg: var(--universal-secondary-bg);
    --button-secondary-fc: var(--universal-secondary-fc);

    --button-tertiary-bg: var(--universal-tertiary-bg);
    --button-tertiary-fc: var(--universal-tertiary-fc);

    --message-own-bg: none;

    --label-fs: inherit;
    --primary-fs: inherit;
    --secondary-fs: inherit;
    --tertiary-fs: inherit;

    /*
      SEMANTIC ELEMENTS END
    */
  }

  * {
    box-sizing: border-box;
  }

  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family: var(--font-roboto-regular);
  }

  h1 {
    font-size: var(--fs-1);
    font-family: var(--font-cal-sans);
  }

  h2 {
    font-size: var(--fs-2);
    font-family: var(--font-cal-sans);
  }

  h3 {
    font-size: var(--fs-3);
    font-family: var(--font-cal-sans);
  }

  h4 {
    font-size: var(--fs-4);
    font-family: var(--font-cal-sans);
  }

  h5 {
    font-size: var(--fs-5);
    font-family: var(--font-cal-sans);
  }

  h6 {
    font-size: var(--fs-6);
    font-family: var(--font-cal-sans);
  }

  .surface-primary {
    background-color: var(--primary-bg);
    color: var(--primary-fc-primary);
    --primary-fc: var(--primary-fc-primary);
    --secondary-fc: var(--primary-fc-secondary);
    --tertiary-fc: var(--primary-fc-tertiary);
    --error-fc: var(--primary-error-fc);
    --border-color: var(--primary-border-color);
  }

  .surface-secondary {
    background-color: var(--secondary-bg);
    color: var(--secondary-fc-primary);
    --primary-fc: var(--secondary-fc-primary);
    --secondary-fc: var(--secondary-fc-secondary);
    --tertiary-fc: var(--secondary-fc-tertiary);
    --error-fc: var(--secondary-error-fc);
    --border-color: var(--secondary-border-color);
  }

  .surface-tertiary {
    background-color: var(--tertiary-bg);
    color: var(--tertiary-fc-primary);
    --primary-fc: var(--tertiary-fc-primary);
    --secondary-fc: var(--tertiary-fc-secondary);
    --tertiary-fc: var(--tertiary-fc-tertiary);
    --error-fc: var(--tertiary-error-fc);
    --border-color: var(--tertiary-border-color);
  }

  .surface-message {
    background-color: var(--message-bg);
    color: var(--message-fc-primary);
    --primary-fc: var(--message-fc-primary);
    --secondary-fc: var(--message-fc-secondary);
    --tertiary-fc: var(--message-fc-tertiary);
    --error-fc: var(--message-error-fc);
    --border-color: var(--message-border-color);
  }

  .surface-inherit {
    background-color: inherit;
    color: inherit;
    font-size: inherit;
  }

  .fs-group-primary {
    --label-fs: var(--primary-label-fs);
    --primary-fs: var(--primary-fs-primary);
    --secondary-fs: var(--primary-fs-secondary);
    --tertiary-fs: var(--primary-fs-tertiary);
  }

  .fs-group-secondary {
    --label-fs: var(--secondary-label-fs);
    --primary-fs: var(--secondary-fs-primary);
    --secondary-fs: var(--secondary-fs-secondary);
    --tertiary-fs: var(--secondary-fs-tertiary);
  }

  .fs-group-tertiary {
    --label-fs: var(--tertiary-label-fs);
    --primary-fs: var(--tertiary-fs-primary);
    --secondary-fs: var(--tertiary-fs-secondary);
    --tertiary-fs: var(--tertiary-fs-tertiary);
  }

  a,
  Link {
    color: var(--link-fc);
    text-decoration: underline;
  }

  /*forms*/
  form,
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--primary-fs);
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  label,
  .label {
    color: var(--primary-fc);
    font-size: var(--label-fs);
    margin-inline: auto;
    font-weight: 500;
  }

  input,
  .input {
    width: 100%;
    border: solid 2px var(--border-color);
    color: var(--primary-fc);
    font-size: var(--primary-fs);
    text-align: center;
    border-radius: 10px;
    padding: .3rem;
  }

  input::placeholder,
  .input::placeholder {
    color: var(--secondary-fc);
    font-size: var(--primary-fs);
  }

  input:focus,
  .input:focus {
    outline: none;
    box-shadow: 5px 5px 3px 0px var(--border-color);
  }

  .input-checked {
    outline: none;
    box-shadow: 0px 0px 10px 3px var(--border-color);
  }

  .input-invalid {
    box-shadow: inset 0 0 0 3px var(--error-fc);
  }

  /*forms*/

  /*buttons*/
  button,
  .button {
    width: 100%;
    background-color: var(--button-primary-bg);
    color: var(--button-primary-fc);
    font-size: var(--primary-fs);
    border-radius: 20px;
    padding: 0.5rem;
  }

  .button-secondary {
    background-color: var(--button-secondary-bg);
    color: var(--button-secondary-fc);
  }

  .button-tertiary {
    background-color: var(--button-tertiary-bg);
    color: var(--button-tertiary-fc);
  }

  button:hover,
  .button:hover {
    cursor: pointer;
  }

}